<h2>Store Employee Comparator</h2>
<employee-comparison
  [theFirstEmployee]="easternEmployee"
  [theSecondEmployee]="westernEmployee"
>
</employee-comparison>
<hr />
<span class="two-across">
  <employee-explorer
    title="Eastern Store"
    [employees]="easternEmployeeList | async"
    [selectedEmployees]="[easternEmployee]"
    (employeeClicked)="setLeftEmployee($event)"
  >
  </employee-explorer>
  <employee-explorer
    title="Western Store"
    [employees]="westernEmployeeList | async"
    [selectedEmployees]="[westernEmployee]"
    (employeeClicked)="setRightEmployee($event)"
  >
  </employee-explorer>
</span>
